.bp-tableView .bp-tableView__cells .bp-tableView__cell.bp-tableView__cell_swiped {
    padding: 0;

    & > .bp-tableView__cell_head {
        position: relative;
        background-color: #fff;
        flex: 1;

        .bp-tableView__cell {
            &:before, &:last-child:after {
                content: none;
            }
        }
    }

    & > .bp-tableView__cell_foot {
        background-color: #ff3b30;
        margin-right: 0px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;

        &:last-of-type {
            padding-right: 0px;
        }

        .bp-tableView__cell__swiped-btn_warn {
            background-color: #ff3b30;
            display: block;
            padding: 10px 1em;
            text-decoration: none;
            color: #fff;

            &:after {
                content: '删除';
            }
        }
    }
}
